{
  "swagger": "2.0",
  "info": {
    "title": "Network Perspective",
    "version": "v1"
  },
  "host": "app.networkperspective.io",
  "schemes": [
    "https"
  ],
  "paths": {
    "/api/account/is-logged-in": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Is logged in",
        "description": "Validates provided access token",
        "operationId": "Account_GetIsLoggedIn",
        "responses": {
          "200": {
            "description": "Logged in"
          },
          "401": {
            "description": "Logged out"
          },
          "400": {
            "description": "Model validation error"
          },
          "429": {
            "description": "API calls quota exceeded"
          }
        }
      }
    },
    "/api/account/status": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "User status",
        "operationId": "Account_GetUserStatus",
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "userName",
            "type": "string"
          },
          {
            "in": "query",
            "name": "userId",
            "type": "string"
          },
          {
            "in": "query",
            "name": "invitationToken",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UserStatus"
            }
          },
          "400": {
            "description": "Model validation error"
          },
          "429": {
            "description": "API calls quota exceeded"
          }
        }
      }
    },
    "/api/account/login": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Login and redirect to app",
        "operationId": "Account_PostLogin",
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "Username",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "Password",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "RedirectUri",
            "type": "string"
          }
        ],
        "responses": {
          "302": {
            "description": "Success"
          },
          "400": {
            "description": "Model validation error"
          },
          "429": {
            "description": "API calls quota exceeded"
          }
        }
      }
    },
    "/api/account/login-form": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Login form",
        "operationId": "Account_GetLoginForm",
        "parameters": [
          {
            "in": "query",
            "name": "username",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Model validation error"
          },
          "429": {
            "description": "API calls quota exceeded"
          }
        }
      }
    },
    "/api/account/logout": {
      "delete": {
        "tags": [
          "Account"
        ],
        "summary": "Logout",
        "operationId": "Account_Logout",
        "parameters": [
          {
            "in": "query",
            "name": "refreshToken",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Model validation error"
          },
          "429": {
            "description": "API calls quota exceeded"
          }
        }
      }
    },
    "/api/account/demo": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Register for demo",
        "operationId": "Account_RegisterForDemo",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/RegisterForDemoCommand"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Model validation error"
          },
          "429": {
            "description": "API calls quota exceeded"
          }
        }
      }
    },
    "/api/account/register": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Register user",
        "operationId": "Account_RegisterUser",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/RegisterUserCommand"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Model validation error"
          },
          "429": {
            "description": "API calls quota exceeded"
          }
        }
      }
    },
    "/api/account/register-with-token": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Register with token",
        "operationId": "Account_RegisterWithToken",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/RegisterWithTokenCommand"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/TokenResponseModel"
            }
          },
          "400": {
            "description": "Model validation error"
          },
          "429": {
            "description": "API calls quota exceeded"
          }
        }
      }
    },
    "/api/account/confirm-email": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Confirm email",
        "operationId": "Account_ConfirmEmail",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/ConfirmEmailCommand"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/TokenResponseModel"
            }
          },
          "400": {
            "description": "Model validation error"
          },
          "429": {
            "description": "API calls quota exceeded"
          }
        }
      }
    },
    "/api/account/send-email-confirmation-token": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Send email confirmation token",
        "operationId": "Account_SendEmailConfirmationToken",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/SendEmailConfirmationTokenCommand"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Model validation error"
          },
          "429": {
            "description": "API calls quota exceeded"
          }
        }
      }
    },
    "/api/account/send-password-reset-token": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Send password reset token",
        "operationId": "Account_SendPasswordResetToken",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/SendPasswordResetTokenCommand"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Model validation error"
          },
          "429": {
            "description": "API calls quota exceeded"
          }
        }
      }
    },
    "/api/account/validate-password-reset-token": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Validate password reset token",
        "operationId": "Account_ValidatePasswordResetToken",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/ValidatePasswordResetTokenCommand"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ValidatePasswordResetTokenResult"
            }
          },
          "400": {
            "description": "Model validation error"
          },
          "429": {
            "description": "API calls quota exceeded"
          }
        }
      }
    },
    "/api/account/reset-password": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Reset password",
        "operationId": "Account_ResetPassword",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/ResetPasswordCommand"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/TokenResponseModel"
            }
          },
          "400": {
            "description": "Model validation error"
          },
          "429": {
            "description": "API calls quota exceeded"
          }
        }
      }
    },
    "/api/account/change-password": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Change password",
        "operationId": "Account_ChangePassword",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/ChangePasswordCommand"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Validation error"
          },
          "429": {
            "description": "API calls quota exceeded"
          }
        }
      }
    },
    "/api/account/settings": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Settings",
        "operationId": "Account_GetSettings",
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "networkId",
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UserSettingsResult"
            }
          },
          "400": {
            "description": "Model validation error"
          },
          "429": {
            "description": "API calls quota exceeded"
          }
        }
      }
    },
    "/api/account/networks": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Networks",
        "operationId": "Account_GetNetworks",
        "produces": [
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/UserNetworkResult"
              }
            }
          },
          "400": {
            "description": "Model validation error"
          },
          "429": {
            "description": "API calls quota exceeded"
          }
        }
      }
    },
    "/api/activity/{networkId}/me": {
      "get": {
        "tags": [
          "Activity"
        ],
        "summary": "My activity",
        "operationId": "Activity_MyActivity",
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "networkId",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CombinedSearchResult"
              }
            }
          },
          "400": {
            "description": "Model validation error"
          },
          "429": {
            "description": "API calls quota exceeded"
          }
        }
      }
    },
    "/api/activity/{networkId}": {
      "get": {
        "tags": [
          "Activity"
        ],
        "summary": "Network activity",
        "operationId": "Activity_RecentActivity",
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "networkId",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ActivityResult"
              }
            }
          },
          "400": {
            "description": "Model validation error"
          },
          "429": {
            "description": "API calls quota exceeded"
          }
        }
      }
    },
    "/api/activity/{networkId}/stats": {
      "get": {
        "tags": [
          "Activity"
        ],
        "summary": "Activity stats",
        "operationId": "Activity_ActivityStats",
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "networkId",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/NetworkActivityStatsResult"
              }
            }
          },
          "400": {
            "description": "Model validation error"
          },
          "429": {
            "description": "API calls quota exceeded"
          }
        }
      }
    },
    "/api/assets": {
      "get": {
        "tags": [
          "Assets"
        ],
        "summary": "All",
        "operationId": "Assets_All",
        "produces": [
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AdminAssetsResult"
            }
          },
          "400": {
            "description": "Model validation error"
          },
          "429": {
            "description": "API calls quota exceeded"
          }
        }
      }
    },
    "/api/assets/{networkId}/perspectives": {
      "get": {
        "tags": [
          "Assets"
        ],
        "summary": "Perspectives",
        "operationId": "Assets_GetPerspectives",
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "networkId",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PerspectiveResult"
              }
            }
          },
          "400": {
            "description": "Model validation error"
          },
          "429": {
            "description": "API calls quota exceeded"
          }
        }
      },
      "post": {
        "tags": [
          "Assets"
        ],
        "summary": "New perspective",
        "operationId": "Assets_NewPerspective",
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "networkId",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "query",
            "name": "name",
            "type": "string"
          },
          {
            "in": "query",
            "name": "description",
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          },
          "400": {
            "description": "Model validation error"
          },
          "429": {
            "description": "API calls quota exceeded"
          }
        }
      }
    },
    "/api/assets/{networkId}/perspectives/zipped": {
      "get": {
        "tags": [
          "Assets"
        ],
        "summary": "Download perspectives",
        "operationId": "Assets_ZippedPerspectives",
        "parameters": [
          {
            "in": "path",
            "name": "networkId",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Model validation error"
          },
          "429": {
            "description": "API calls quota exceeded"
          }
        }
      }
    },
    "/api/assets/{networkId}/perspectives/upload": {
      "post": {
        "tags": [
          "Assets"
        ],
        "summary": "Upload perspective",
        "operationId": "Assets_UploadPerspectiveCode",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "networkId",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Syntax error"
          },
          "429": {
            "description": "API calls quota exceeded"
          }
        }
      }
    },
    "/api/assets/perspectives/{perspectiveId}": {
      "delete": {
        "tags": [
          "Assets"
        ],
        "summary": "Delete perspective",
        "operationId": "Assets_DeletePerspective",
        "parameters": [
          {
            "in": "path",
            "name": "perspectiveId",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Model validation error"
          },
          "429": {
            "description": "API calls quota exceeded"
          }
        }
      }
    },
    "/api/assets/code": {
      "get": {
        "tags": [
          "Assets"
        ],
        "summary": "Perspective code",
        "operationId": "Assets_GetPerspectiveCode",
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "perspectiveId",
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CodeResult"
            }
          },
          "400": {
            "description": "Model validation error"
          },
          "429": {
            "description": "API calls quota exceeded"
          }
        }
      },
      "post": {
        "tags": [
          "Assets"
        ],
        "summary": "Update perspective code",
        "operationId": "Assets_UpdatePerspectiveCode",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "perspectiveId",
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Syntax error"
          },
          "429": {
            "description": "API calls quota exceeded"
          }
        }
      }
    },
    "/api/assets/networks": {
      "post": {
        "tags": [
          "Assets"
        ],
        "summary": "New network",
        "operationId": "Assets_CreateNetwork",
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "name",
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          },
          "400": {
            "description": "Model validation error"
          },
          "429": {
            "description": "API calls quota exceeded"
          }
        }
      }
    },
    "/api/assets/networks/{networkId}": {
      "put": {
        "tags": [
          "Assets"
        ],
        "summary": "Update network",
        "operationId": "Assets_UpdateNetwork",
        "parameters": [
          {
            "in": "path",
            "name": "networkId",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "query",
            "name": "name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Model validation error"
          },
          "429": {
            "description": "API calls quota exceeded"
          }
        }
      },
      "delete": {
        "tags": [
          "Assets"
        ],
        "summary": "Delete network",
        "operationId": "Assets_DeleteNetwork",
        "parameters": [
          {
            "in": "path",
            "name": "networkId",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Model validation error"
          },
          "429": {
            "description": "API calls quota exceeded"
          }
        }
      }
    },
    "/api/assets/{networkId}/settings": {
      "get": {
        "tags": [
          "Assets"
        ],
        "summary": "Settings as code",
        "operationId": "Assets_GetNetworkSettingsCode",
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "networkId",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CodeResult"
            }
          },
          "400": {
            "description": "Model validation error"
          },
          "429": {
            "description": "API calls quota exceeded"
          }
        }
      },
      "put": {
        "tags": [
          "Assets"
        ],
        "summary": "Update settings",
        "operationId": "Assets_UpdateNetworkSettingsCode",
        "parameters": [
          {
            "in": "path",
            "name": "networkId",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "query",
            "name": "code",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Model validation error"
          },
          "429": {
            "description": "API calls quota exceeded"
          }
        }
      },
      "delete": {
        "tags": [
          "Assets"
        ],
        "summary": "Delete settings",
        "description": "Reverts settings to defaults",
        "operationId": "Assets_DeleteNetworkSettingsCode",
        "parameters": [
          {
            "in": "path",
            "name": "networkId",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Model validation error"
          },
          "429": {
            "description": "API calls quota exceeded"
          }
        }
      }
    },
    "/api/connector": {
      "put": {
        "tags": [
          "Connector"
        ],
        "summary": "Add connector",
        "operationId": "Connector_Add",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/AddConnectorCommand"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          },
          "400": {
            "description": "Model validation error"
          },
          "429": {
            "description": "API calls quota exceeded"
          }
        }
      },
      "delete": {
        "tags": [
          "Connector"
        ],
        "summary": "Delete connector",
        "operationId": "Connector_Delete",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/DeleteConnectorCommand"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Model validation error"
          },
          "429": {
            "description": "API calls quota exceeded"
          }
        }
      },
      "get": {
        "tags": [
          "Connector"
        ],
        "summary": "Connector details",
        "operationId": "Connector_Details",
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "networkId",
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "query",
            "name": "connectorId",
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ConnectorDetailsResult"
            }
          },
          "400": {
            "description": "Model validation error"
          },
          "429": {
            "description": "API calls quota exceeded"
          }
        }
      }
    },
    "/api/connector/update": {
      "post": {
        "tags": [
          "Connector"
        ],
        "summary": "Update connector",
        "operationId": "Connector_UpdateConnector",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/UpdateConnectorCommand"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Model validation error"
          },
          "429": {
            "description": "API calls quota exceeded"
          }
        }
      }
    },
    "/api/connector/token": {
      "get": {
        "tags": [
          "Connector"
        ],
        "summary": "Query token",
        "operationId": "Connector_QueryServiceToken",
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "id",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ServiceResult"
            }
          },
          "400": {
            "description": "Model validation error"
          },
          "429": {
            "description": "API calls quota exceeded"
          }
        }
      },
      "put": {
        "tags": [
          "Connector"
        ],
        "summary": "Generate service token",
        "operationId": "Connector_GenerateServiceToken",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/AddServiceTokenCommand"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "Model validation error"
          },
          "429": {
            "description": "API calls quota exceeded"
          }
        }
      }
    },
    "/api/connector/privacy-filter": {
      "get": {
        "tags": [
          "Connector"
        ],
        "summary": "Privacy filter",
        "operationId": "Connector_PrivacyFilter",
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "token",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ConnectorPrivacyFilterResult"
            }
          },
          "400": {
            "description": "Model validation error"
          },
          "429": {
            "description": "API calls quota exceeded"
          }
        }
      }
    },
    "/api/connector/valid-users-filter": {
      "get": {
        "tags": [
          "Connector"
        ],
        "summary": "Valid usernames hashed\r\nSHA256 (Username)",
        "operationId": "Connector_ValidUsersFilter",
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "token",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ConnectorValidUsersFilterResult"
            }
          },
          "400": {
            "description": "Model validation error"
          },
          "429": {
            "description": "API calls quota exceeded"
          }
        }
      }
    },
    "/api/connector/members": {
      "post": {
        "tags": [
          "Connector"
        ],
        "summary": "Sync members (adds member role to synced entities)",
        "operationId": "Connector_SyncMembers",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/SyncMembersCommand"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Model validation error"
          },
          "429": {
            "description": "API calls quota exceeded"
          }
        }
      }
    },
    "/api/connector/members(bg)": {
      "post": {
        "tags": [
          "Connector"
        ],
        "summary": "Sync members (in background job)",
        "operationId": "Connector_SyncMembersBackground",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/SyncMembersCommand"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Success",
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          },
          "400": {
            "description": "Model validation error"
          },
          "429": {
            "description": "API calls quota exceeded"
          }
        }
      }
    },
    "/api/connector/entities": {
      "post": {
        "tags": [
          "Connector"
        ],
        "summary": "Sync entities [nodes in graph but not necessarily network members]",
        "operationId": "Connector_SyncEntities",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/SyncEntitiesCommand"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Model validation error"
          },
          "429": {
            "description": "API calls quota exceeded"
          }
        }
      }
    },
    "/api/connector/entities(bg)": {
      "post": {
        "tags": [
          "Connector"
        ],
        "summary": "Sync entities [nodes in graph but not necessarily network members]\r\n(in background job)",
        "operationId": "Connector_SyncEntitiesBackground",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/SyncEntitiesCommand"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Success",
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          },
          "400": {
            "description": "Model validation error"
          },
          "429": {
            "description": "API calls quota exceeded"
          }
        }
      }
    },
    "/api/connector/validate-entities(bg)": {
      "post": {
        "tags": [
          "Connector"
        ],
        "summary": "Validate entities [nodes in graph but not necessarily network members]\r\n(in background job)",
        "operationId": "Connector_ValidateEntitiesBackground",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/ValidateEntitiesCommand"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Success",
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          },
          "400": {
            "description": "Model validation error"
          },
          "429": {
            "description": "API calls quota exceeded"
          }
        }
      }
    },
    "/api/connector/photo": {
      "post": {
        "tags": [
          "Connector"
        ],
        "summary": "Upload member photo",
        "operationId": "Connector_UploadMemberPhoto",
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "token",
            "type": "string"
          },
          {
            "in": "query",
            "name": "userName",
            "type": "string"
          },
          {
            "in": "formData",
            "name": "file",
            "type": "file"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Model validation error"
          },
          "429": {
            "description": "API calls quota exceeded"
          }
        }
      }
    },
    "/api/connector/interactions": {
      "post": {
        "tags": [
          "Connector"
        ],
        "summary": "Sync interactions",
        "operationId": "Connector_SyncInteractions",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/SyncInteractionsCommand"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Model validation error"
          },
          "429": {
            "description": "API calls quota exceeded"
          }
        }
      }
    },
    "/api/connector/convert-interactions": {
      "post": {
        "tags": [
          "Connector"
        ],
        "summary": "Convert interactions",
        "operationId": "Connector_ConvertInteractions",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/ConvertInteractionsToRelationshipsCommand"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Model validation error"
          },
          "429": {
            "description": "API calls quota exceeded"
          }
        }
      }
    },
    "/api/connector/convert-interactions(bg)": {
      "post": {
        "tags": [
          "Connector"
        ],
        "summary": "Convert interactions",
        "operationId": "Connector_ConvertInteractionsBackground",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/ConvertInteractionsToRelationshipsCommand"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Model validation error"
          },
          "429": {
            "description": "API calls quota exceeded"
          }
        }
      }
    },
    "/api/connector/interactions(bg)": {
      "post": {
        "tags": [
          "Connector"
        ],
        "summary": "Sync interactions (in background job)",
        "operationId": "Connector_SyncInteractionsBackground",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/SyncInteractionsCommand"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Success",
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          },
          "400": {
            "description": "Model validation error"
          },
          "429": {
            "description": "API calls quota exceeded"
          }
        }
      }
    },
    "/api/connector/sign-in": {
      "get": {
        "tags": [
          "Connector"
        ],
        "summary": "SSO provider status",
        "operationId": "Connector_GetSignInProviderStatus",
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "networkId",
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "query",
            "name": "authority",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/SignInProviderStatusResult"
            }
          },
          "400": {
            "description": "Model validation error"
          },
          "429": {
            "description": "API calls quota exceeded"
          }
        }
      },
      "post": {
        "tags": [
          "Connector"
        ],
        "summary": "Add SSO provider",
        "operationId": "Connector_AddSignInProvider",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/AddSignInProviderCommand"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Model validation error"
          },
          "429": {
            "description": "API calls quota exceeded"
          }
        }
      },
      "delete": {
        "tags": [
          "Connector"
        ],
        "summary": "Remove SSO provider",
        "operationId": "Connector_RemoveSignInProvider",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/RemoveSignInProviderCommand"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Model validation error"
          },
          "429": {
            "description": "API calls quota exceeded"
          }
        }
      }
    },
    "/api/edges/{networkId}": {
      "post": {
        "tags": [
          "Edges"
        ],
        "summary": "List",
        "operationId": "Edges_List",
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "networkId",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/NetworkEdgeResult"
              }
            }
          },
          "400": {
            "description": "Model validation error"
          },
          "429": {
            "description": "API calls quota exceeded"
          }
        }
      },
      "delete": {
        "tags": [
          "Edges"
        ],
        "summary": "Delete",
        "operationId": "Edges_Delete",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "networkId",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "type": "array",
              "items": {
                "format": "uuid",
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Model validation error"
          },
          "429": {
            "description": "API calls quota exceeded"
          }
        }
      }
    },
    "/api/file": {
      "post": {
        "tags": [
          "File"
        ],
        "summary": "Save",
        "operationId": "File_Save",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "networkId",
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "formData",
            "name": "file",
            "type": "file"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "Model validation error"
          },
          "429": {
            "description": "API calls quota exceeded"
          }
        }
      }
    },
    "/api/file/{networkId}/{fileId}.{ext}": {
      "get": {
        "tags": [
          "File"
        ],
        "summary": "Read",
        "operationId": "File_Get",
        "parameters": [
          {
            "in": "path",
            "name": "networkId",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "fileId",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "ext",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "fallback",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Model validation error"
          },
          "429": {
            "description": "API calls quota exceeded"
          }
        }
      }
    },
    "/api/graph/{networkId}/schema": {
      "get": {
        "tags": [
          "Graph"
        ],
        "summary": "Schema",
        "operationId": "Graph_Schema",
        "parameters": [
          {
            "in": "path",
            "name": "networkId",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Model validation error"
          },
          "429": {
            "description": "API calls quota exceeded"
          }
        }
      }
    },
    "/api/graph/{networkId}/perspectives": {
      "post": {
        "tags": [
          "Graph"
        ],
        "summary": "Perspectives",
        "operationId": "Graph_Perspectives",
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "networkId",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "query",
            "name": "doNotCache",
            "type": "boolean",
            "default": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GraphPerspectivesResult"
            }
          },
          "400": {
            "description": "Model validation error"
          },
          "429": {
            "description": "API calls quota exceeded"
          }
        }
      }
    },
    "/api/graph/{networkId}/query": {
      "post": {
        "tags": [
          "Graph"
        ],
        "summary": "Query",
        "description": "Select whole graph:\r\n<code>SELECT *</code>\r\n            \r\nSelect a particular vertex:\r\n<code>\r\nSELECT * WHERE id = '396d78df-a6bf-40cf-812e-6537cd1ff5de'\r\n</code>\r\n            \r\nSelect one department:\r\n<code>SELECT * WHERE department = \"Marketing\"</code>\r\n            \r\nSelect all directors (director, director of operations, etc.):\r\n<code>SELECT * WHERE position LIKE '%director%'</code>\r\n            \r\nLimit result to specyfic vertex props, and only two types of edges:\r\n<code>\r\nSELECT name, position AS description, department, <br />\r\nedge.cooperation, edge.[knowledge sharing]<br />\r\nWHERE department = \"Marketing\"\r\n</code>\r\n            \r\nConditions can be combined with AND and OR operators.\r\nThis query will return specific vertex props props and only two types of edges\r\nlimiting results to only directors from two departments (IT or Marketing)\r\n<code>\r\nSELECT name, position, department, <br />\r\nedge.cooperation, edge.[knowledge sharing]<br />\r\nWHERE (department = \"IT\" OR department = \"Marketing\")<br />\r\n   AND position LIKE '%directors%'\r\n</code>\r\n            \r\nIt is possible to query nodes according to their connectivity.\r\n            \r\nFor instance you can query all neighbours of some vertex (including the vertex itself)\r\n<code>\r\nSELECT * WHERE edge(source.id = '396d78df-a6bf-40cf-812e-6537cd1ff5de')\r\n</code>\r\n            \r\nThe query below will return all employees that are cooperating with \"Marketing\" department.\r\nThe keyword <samp>edge</samp> matches all incoming and outgoing edges so this will include\r\nnodes on both ends of the replationships.\r\n<code>\r\nSELECT * WHERE edge(Name=\"Cooperation\" AND Source.Dept = \"Marketing\")\r\n</code>\r\n            \r\nOn the other hand keyword <samp>in_edge</samp> matches only incoming edges. So\r\nHence the query below will return only people connected to Marketing department\r\nbut without the Marketing department itself\r\n(unless the Marketing department is internaly connected what is usually the case)\r\n<code>\r\nSELECT * WHERE in_edge(Source.Dept = 'Marketing')\r\n</code>\r\n            \r\nIf we'd like to explicitly exclude the Marketing department by adding an extra condition.\r\n<code>\r\nSELECT * WHERE in_edge(Source.Dept = 'Marketing') AND Dept != 'Marketing'\r\n</code>\r\n            \r\nWe can also limit results to people that often reach out for knowledge witn <samp>out_edge</samp> keyword,\r\nthat matches only outgoing relationships\r\n<code>\r\nSELECT * WHERE out_edge(Name = 'Knowledge' AND Frequency > 3)\r\n</code>\r\n            \r\nThe last edge traversal operator is <samp>mutual_edge</samp> and it matches nodes connected with\r\nmutual relationship.\r\n<code>\r\nSELECT * WHERE mutual_edge(name='Cooperation')\r\n</code>\r\n            \r\nQuery language supports calculating basic graph metrics such as:\r\n<ul><li>degree[(edge_condition)]</li><li>in_degree[(edge_condition)]</li><li>out_degree[(edge_condition)]</li><li>eigenvector[(edge_condition, edge_dist_prop)]</li><li>betweeness[(edge_condition, edge_dist_prop)]</li><li>path_length(target_condition, [edge_condition], [path_dist_prop])</li><li>shortest_path(source_condition, target_condition)</li></ul>\r\n            \r\nA simple query that will calculate indegree looks as follows\r\n<code>\r\nSELECT * CALCULATE indegree\r\n</code>\r\n            \r\nA query that will calculate degree for a particular edge and out_degree for all edges\r\n<code>\r\nSELECT * CALCULATE degree(Name = \"Cooperation\"), out_degree\r\n</code>\r\n            \r\nThis query will return a shortest path between two nodes a and b\r\nthe result will contain all vertices and edges along the path sorted accoring to order in the path\r\n<code>\r\nSELECT * CALCULATE shortest_path(Id='a', Id='b')\r\n</code>",
        "operationId": "Graph_Query",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "networkId",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PropertyGraphModel"
            }
          },
          "400": {
            "description": "Model validation error"
          },
          "429": {
            "description": "API calls quota exceeded"
          }
        }
      }
    },
    "/api/graph/{networkId}/sigma": {
      "post": {
        "tags": [
          "Graph"
        ],
        "summary": "Sigma",
        "description": "For query syntax see method above (Query)",
        "operationId": "Graph_Sigma",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "networkId",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/SigmaGraphModel"
            }
          },
          "400": {
            "description": "Model validation error"
          },
          "429": {
            "description": "API calls quota exceeded"
          }
        }
      }
    },
    "/api/graph/{networkId}/uri/{uri}": {
      "post": {
        "tags": [
          "Graph"
        ],
        "summary": "Uri query",
        "operationId": "Graph_Uri",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "networkId",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "uri",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "cache",
            "type": "string",
            "format": "date-span"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "type": "object",
              "additionalProperties": {}
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/SigmaGraphModel"
            }
          },
          "400": {
            "description": "Model validation error"
          },
          "429": {
            "description": "API calls quota exceeded"
          }
        }
      }
    },
    "/api/graph/{networkId}/do-layout": {
      "put": {
        "tags": [
          "Graph"
        ],
        "summary": "Do layout",
        "description": "For query syntax see method above (Query)",
        "operationId": "Graph_DoLayout",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "networkId",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "query",
            "name": "durationMs",
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Model validation error"
          },
          "429": {
            "description": "API calls quota exceeded"
          }
        }
      }
    },
    "/api/graph/{networkId}/layout": {
      "post": {
        "tags": [
          "Graph"
        ],
        "summary": "Save layout",
        "operationId": "Graph_SaveLayout",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "networkId",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "query",
            "name": "key",
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "$ref": "#/definitions/Coords"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Model validation error"
          },
          "429": {
            "description": "API calls quota exceeded"
          }
        }
      }
    },
    "/api/graph/{networkId}/vertices/{vertexId}": {
      "get": {
        "tags": [
          "Graph"
        ],
        "summary": "Vertex",
        "description": "use \"me\" as vertex Id to query own vertex",
        "operationId": "Graph_Vertex",
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "networkId",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "vertexId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PropertyVertexModel"
            }
          },
          "404": {
            "description": "Vertex not found"
          },
          "400": {
            "description": "Model validation error"
          },
          "429": {
            "description": "API calls quota exceeded"
          }
        }
      }
    },
    "/api/graph/{networkId}/duplicates": {
      "post": {
        "tags": [
          "Graph"
        ],
        "summary": "Merge duplicates",
        "operationId": "Graph_MergeDuplicates",
        "parameters": [
          {
            "in": "path",
            "name": "networkId",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "query",
            "name": "vertexId",
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "query",
            "name": "duplicateId",
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Model validation error"
          },
          "429": {
            "description": "API calls quota exceeded"
          }
        }
      },
      "get": {
        "tags": [
          "Graph"
        ],
        "summary": "List duplicates",
        "operationId": "Graph_ListDuplicates",
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "networkId",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/DuplicateResult"
              }
            }
          },
          "400": {
            "description": "Model validation error"
          },
          "429": {
            "description": "API calls quota exceeded"
          }
        }
      }
    },
    "/api/graph/{networkId}/cache": {
      "delete": {
        "tags": [
          "Graph"
        ],
        "summary": "Clear cache",
        "operationId": "Graph_ClearCache",
        "parameters": [
          {
            "in": "path",
            "name": "networkId",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Model validation error"
          },
          "429": {
            "description": "API calls quota exceeded"
          }
        }
      }
    },
    "/api/mailing/{networkId}/templates": {
      "get": {
        "tags": [
          "Mailing"
        ],
        "summary": "Templates",
        "operationId": "Mailing_GetTemplates",
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "networkId",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/EmailTemplateResult"
              }
            }
          },
          "400": {
            "description": "Model validation error"
          },
          "429": {
            "description": "API calls quota exceeded"
          }
        }
      },
      "post": {
        "tags": [
          "Mailing"
        ],
        "summary": "New template",
        "operationId": "Mailing_NewTemplate",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "networkId",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          },
          "400": {
            "description": "Model validation error"
          },
          "429": {
            "description": "API calls quota exceeded"
          }
        }
      }
    },
    "/api/mailing/{networkId}/templates/{templateName}": {
      "get": {
        "tags": [
          "Mailing"
        ],
        "summary": "Get built-in template text",
        "operationId": "Mailing_GetDefaultTemplate",
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "networkId",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "templateName",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "Model validation error"
          },
          "429": {
            "description": "API calls quota exceeded"
          }
        }
      }
    },
    "/api/mailing/templates/{templateId}": {
      "delete": {
        "tags": [
          "Mailing"
        ],
        "summary": "Delete template",
        "operationId": "Mailing_DeleteTemplate",
        "parameters": [
          {
            "in": "path",
            "name": "templateId",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Model validation error"
          },
          "429": {
            "description": "API calls quota exceeded"
          }
        }
      },
      "get": {
        "tags": [
          "Mailing"
        ],
        "summary": "Template code",
        "operationId": "Mailing_GetTemplateCode",
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "templateId",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CodeResult"
            }
          },
          "400": {
            "description": "Model validation error"
          },
          "429": {
            "description": "API calls quota exceeded"
          }
        }
      },
      "post": {
        "tags": [
          "Mailing"
        ],
        "summary": "Update template code",
        "operationId": "Mailing_UpdateTemplateCode",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "templateId",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Syntax error"
          },
          "429": {
            "description": "API calls quota exceeded"
          }
        }
      }
    },
    "/api/mailing/{networkId}/templates/{template}/render": {
      "post": {
        "tags": [
          "Mailing"
        ],
        "summary": "Render template",
        "operationId": "Mailing_RenderTemplate",
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "networkId",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "template",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/RenderedEmailModel"
            }
          },
          "400": {
            "description": "Model validation error"
          },
          "429": {
            "description": "API calls quota exceeded"
          }
        }
      }
    },
    "/api/mailing/send-invites": {
      "post": {
        "tags": [
          "Mailing"
        ],
        "summary": "Send mailing",
        "description": "Sends emails",
        "operationId": "Mailing_SendEmails",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/SendInvitationEmailsCommand"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Success",
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          },
          "400": {
            "description": "Model validation error"
          },
          "429": {
            "description": "API calls quota exceeded"
          }
        }
      }
    },
    "/api/mailing/settings/{networkId}": {
      "get": {
        "tags": [
          "Mailing"
        ],
        "summary": "Notification settings",
        "operationId": "Mailing_GetSettings",
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "networkId",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "boolean"
              }
            }
          },
          "400": {
            "description": "Model validation error"
          },
          "429": {
            "description": "API calls quota exceeded"
          }
        }
      }
    },
    "/api/mailing/settings": {
      "post": {
        "tags": [
          "Mailing"
        ],
        "summary": "Update notification settings",
        "operationId": "Mailing_UpdateSettings",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/UpdateEmailNotificationSettingCommand"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "boolean"
              }
            }
          },
          "400": {
            "description": "Model validation error"
          },
          "429": {
            "description": "API calls quota exceeded"
          }
        }
      }
    },
    "/api/members": {
      "post": {
        "tags": [
          "Members"
        ],
        "summary": "List",
        "operationId": "Members_List",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "networkId",
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "query",
            "name": "emailTemplate",
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/NetworkMemberResult"
              }
            }
          },
          "400": {
            "description": "Model validation error"
          },
          "429": {
            "description": "API calls quota exceeded"
          }
        }
      },
      "delete": {
        "tags": [
          "Members"
        ],
        "summary": "Delete",
        "operationId": "Members_Delete",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/DeleteNetworkAccountsCommand"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Model validation error"
          },
          "429": {
            "description": "API calls quota exceeded"
          }
        }
      }
    },
    "/api/members/validate": {
      "post": {
        "tags": [
          "Members"
        ],
        "summary": "Validate invitations",
        "operationId": "Members_Validate",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/ValidateInvitationsCommand"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Success",
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          },
          "400": {
            "description": "Model validation error"
          },
          "429": {
            "description": "API calls quota exceeded"
          }
        }
      }
    },
    "/api/members/invite": {
      "post": {
        "tags": [
          "Members"
        ],
        "summary": "Invite",
        "description": "Adds users, creates vertices and sends invitation emails",
        "operationId": "Members_Invite",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/InviteMembersCommand"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Success",
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          },
          "400": {
            "description": "Model validation error"
          },
          "429": {
            "description": "API calls quota exceeded"
          }
        }
      }
    },
    "/api/members/create": {
      "post": {
        "tags": [
          "Members"
        ],
        "summary": "Create account",
        "description": "Adds account for an existing vertex",
        "operationId": "Members_Create",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/AddOrUpdateNetworkAccountCommand"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Success",
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          },
          "400": {
            "description": "Model validation error"
          },
          "429": {
            "description": "API calls quota exceeded"
          }
        }
      }
    },
    "/api/members/roles": {
      "post": {
        "tags": [
          "Members"
        ],
        "summary": "Change roles",
        "operationId": "Members_ChangeRoles",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/ChangeMembersRoleCommand"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Model validation error"
          },
          "429": {
            "description": "API calls quota exceeded"
          }
        }
      }
    },
    "/api/members/groups": {
      "post": {
        "tags": [
          "Members"
        ],
        "summary": "Change groups",
        "operationId": "Members_ChangeGroups",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/ChangeMembersGroupAccessCommand"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Model validation error"
          },
          "429": {
            "description": "API calls quota exceeded"
          }
        }
      },
      "get": {
        "tags": [
          "Members"
        ],
        "summary": "list member groups access",
        "operationId": "Members_GetGroups",
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "networkId",
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "query",
            "name": "userName",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/NetworkMemberGroupAccessResult"
              }
            }
          },
          "400": {
            "description": "Model validation error"
          },
          "429": {
            "description": "API calls quota exceeded"
          }
        }
      }
    },
    "/api/modules/{networkId}": {
      "get": {
        "tags": [
          "Modules"
        ],
        "summary": "List modules",
        "operationId": "Modules_All",
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "networkId",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ModuleResult"
              }
            }
          },
          "400": {
            "description": "Model validation error"
          },
          "429": {
            "description": "API calls quota exceeded"
          }
        }
      }
    },
    "/api/modules/{networkId}/{moduleId}": {
      "post": {
        "tags": [
          "Modules"
        ],
        "summary": "Import module",
        "operationId": "Modules_Import",
        "parameters": [
          {
            "in": "path",
            "name": "networkId",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "moduleId",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Model validation error"
          },
          "429": {
            "description": "API calls quota exceeded"
          }
        }
      },
      "put": {
        "tags": [
          "Modules"
        ],
        "summary": "Update module",
        "operationId": "Modules_Update",
        "parameters": [
          {
            "in": "path",
            "name": "networkId",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "moduleId",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Model validation error"
          },
          "429": {
            "description": "API calls quota exceeded"
          }
        }
      },
      "delete": {
        "tags": [
          "Modules"
        ],
        "summary": "Remove module",
        "operationId": "Modules_UnImport",
        "parameters": [
          {
            "in": "path",
            "name": "networkId",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "moduleId",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Model validation error"
          },
          "429": {
            "description": "API calls quota exceeded"
          }
        }
      }
    },
    "/api/perspective/schema/{perspectiveId}": {
      "post": {
        "tags": [
          "Perspective"
        ],
        "summary": "Schema",
        "operationId": "Perspective_Schema",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "perspectiveId",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "type": "object",
              "additionalProperties": {}
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PerspectiveSchema"
            }
          },
          "400": {
            "description": "Model validation error"
          },
          "429": {
            "description": "API calls quota exceeded"
          }
        }
      }
    },
    "/api/perspective/responses/{uriPrefix}": {
      "get": {
        "tags": [
          "Perspective"
        ],
        "summary": "Profile survey responses",
        "operationId": "Perspective_GetResponses",
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "uriPrefix",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "additionalProperties": {}
            }
          },
          "400": {
            "description": "Model validation error"
          },
          "429": {
            "description": "API calls quota exceeded"
          }
        }
      }
    },
    "/api/perspective/responses/{questionUri}": {
      "put": {
        "tags": [
          "Perspective"
        ],
        "summary": "Save profile survey response",
        "operationId": "Perspective_SaveResponse",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "questionUri",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {}
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Model validation error"
          },
          "429": {
            "description": "API calls quota exceeded"
          }
        }
      }
    },
    "/api/perspective/members/{perspectiveId}/search/{edgeName}": {
      "get": {
        "tags": [
          "Perspective"
        ],
        "summary": "Search members",
        "description": "search parameter is optional",
        "operationId": "Perspective_GetMembers",
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "perspectiveId",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "edgeName",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "search",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PropertyVertexModel"
              }
            }
          },
          "400": {
            "description": "Model validation error"
          },
          "429": {
            "description": "API calls quota exceeded"
          }
        }
      }
    },
    "/api/perspective/members/{perspectiveId}/is-connected/{memberId}": {
      "post": {
        "tags": [
          "Perspective"
        ],
        "summary": "Is connected with",
        "operationId": "Perspective_IsConnected",
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "perspectiveId",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "memberId",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/RelationshipResult"
              }
            }
          },
          "400": {
            "description": "Model validation error"
          },
          "429": {
            "description": "API calls quota exceeded"
          }
        }
      }
    },
    "/api/perspective/members/{member}/relationship/{edgeUri}": {
      "post": {
        "tags": [
          "Perspective"
        ],
        "summary": "Save relationship",
        "description": "Create if not exists",
        "operationId": "Perspective_SaveRelationship",
        "parameters": [
          {
            "in": "path",
            "name": "member",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "edgeUri",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Model validation error"
          },
          "429": {
            "description": "API calls quota exceeded"
          }
        }
      },
      "delete": {
        "tags": [
          "Perspective"
        ],
        "summary": "Delete relationship",
        "operationId": "Perspective_DeleteRelationship",
        "parameters": [
          {
            "in": "path",
            "name": "member",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "edgeUri",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          },
          "400": {
            "description": "Model validation error"
          },
          "429": {
            "description": "API calls quota exceeded"
          }
        }
      }
    },
    "/api/perspective/members/{email}/relationship/{edgeUri}": {
      "put": {
        "tags": [
          "Perspective"
        ],
        "summary": "Invite relationship",
        "description": "Create relationship and send invitation email",
        "operationId": "Perspective_InviteRelationship",
        "parameters": [
          {
            "in": "path",
            "name": "email",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "edgeUri",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "inviteeName",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Model validation error"
          },
          "429": {
            "description": "API calls quota exceeded"
          }
        }
      }
    },
    "/api/perspective/members/{member}/responses/{perspectiveId}/{edgeName}": {
      "get": {
        "tags": [
          "Perspective"
        ],
        "summary": "Relationship details",
        "operationId": "Perspective_GetRelationshipDetails",
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "member",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "perspectiveId",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "edgeName",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/RelationshipDetailsModel"
            }
          },
          "400": {
            "description": "Model validation error"
          },
          "429": {
            "description": "API calls quota exceeded"
          }
        }
      }
    },
    "/api/perspective/members/{member}/responses/{questionUri}": {
      "put": {
        "tags": [
          "Perspective"
        ],
        "summary": "Save relationship details",
        "operationId": "Perspective_SaveRelationshipDetails",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "member",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "path",
            "name": "questionUri",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {}
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Model validation error"
          },
          "429": {
            "description": "API calls quota exceeded"
          }
        }
      }
    },
    "/api/privacy/{networkId}/consents": {
      "get": {
        "tags": [
          "Privacy"
        ],
        "summary": "List consents",
        "operationId": "Privacy_ListConsents",
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "networkId",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PrivacyConsentResult"
              }
            }
          },
          "400": {
            "description": "Model validation error"
          },
          "429": {
            "description": "API calls quota exceeded"
          }
        }
      },
      "delete": {
        "tags": [
          "Privacy"
        ],
        "summary": "Revoke consents",
        "operationId": "Privacy_RevokeConsents",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "networkId",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "type": "array",
              "items": {
[...]
